ul.nav
  li(ng-class="getClass('/pictures')")
    a(ng-href='#/pictures') <i class="fa fa-picture-o"></i> Pictures
//-   li(ng-class="getClass('/profile')")
//-     a(ng-href='#/profile') <i class="fa fa-user"></i> Profile
//-   li(ng-class="getClass('/import')")
//-     a(ng-href='#/import') <i class="fa fa-exchange"></i> Import

//- ul.nav.pull-right
//-   li(ng-class="getClass('/register')")
//-     a(ng-href='#/register') <i class="fa fa-pencil"></i> Register
//-   li(ng-class="getClass('/login')")
//-     a(ng-href='#/login') <i class="fa fa-sign-in"></i> Login
//-   li(ng-class="getClass('/logout')")
//-     a(ng-href='#/logout') <i class="fa fa-sign-out"></i> Logout
