div(ng-controller="PicturesCtrl")
  div(ng-if="users.current._id == 0")

  div(ng-if="users.current._id != 0")
    ul.thumbnails
      li.span12(ng-show="Current")
        .thumbnail
          // here be dragons: how to write this in a if statement
          img(src="{{Current.current.url}}", alt="", ng-click="feedback(Current.current._id)", style="cursor:pointer; height:420px; width:560px; margin-left:0px")
        .caption
          h1 {{Current.current.title}}
          p id just for debugging: {{Current.current._id}}
          p
            span(ng-repeat="tag in Current.current.tags")  {{tag}}
            //- button.btn.btn-link(ng-click="nextPicturesByTag(tag)", ng-repeat="tag in Current.current.tags") {{tag}}

    ul.thumbnails
      li.span3(ng-repeat="picture in Current.recommendations")
        .thumbnail
          img(src="{{picture.url}}", alt="", ng-click="feedback(picture._id)", style="cursor: pointer; height:195px; width:260px;")
          {{picture.subtitle}}
      li.span3(ng-repeat="picture in Current.trainingset")
        .thumbnail
          img(src="{{picture.url}}", alt="", ng-click="feedback(picture._id)", style="cursor: pointer; height:195px; width:260px;")
          {{picture.subtitle}}
