div(ng-controller="ProfileCtrl")
  h1 {{users.current.name}}

  hr

  h3 Friends: {{users.current.friends.length}}
  .well.text-center
    button.btn(ng-click="switchUserTo(f._id)", ng-repeat="f in users.current.friends", style="margin: 5px;") {{f.firstName}} {{f.lastName}}

  hr

  h3 History:

  .media(ng-repeat="m in users.current.history")
    a.pull-left(href="#")
      img.media-object(ng-src="{{m.url}}")
    .media-body
      h4.media-heading {{m.title}}
      p clicked on {{m.updated}}